body {
  font: 1em sans-serif;
  background-color: rgb(240, 255, 255);
  display: flex;
  flex-direction: column;
}
.row {
  margin: 8px;
  border-radius: 5px;
}

.stats {
  background-color: rgb(136, 136, 136);
  text-align: right;
  border: 5px solid rgb(136, 136, 136);
  border-radius: 3px;
}
.banner-row {
  background-color: rgb(130, 150, 150);
  border: 5px solid rgb(130, 150, 150);
  border-radius: 3px;
  text-align: center;
  font-size: 1.1em;
}

.intro {
  background-color: rgb(236, 231, 220);
  border: 5px solid rgb(236, 231, 220);
  border-radius: 3px;
  padding: 0.3em;
}

.answer {
  text-align: center;
  background-color: rgb(231, 222, 204);
  border: 5px solid rgb(231, 222, 204);
  border-radius: 3px;
  visibility: hidden;
}

.highscore {
  background-color: rgb(184, 184, 184);
  border: 5px solid rgb(184, 184, 184);
  border-radius: 3px;
  text-align: center;
}

.top-score {
  visibility: hidden;
}
.score {
  background-color: rgb(184, 184, 184);
  border: 5px solid rgb(184, 184, 184);
  border-radius: 3px;
  text-align: center;
}
#repeat {
  visibility: hidden;
}
